//path
// $get-path-to-assets : "/careersadmin";
$get-path-to-assets: "";

//text-color
$main-color1: #04D4F0;
$main-color2: #13131b;
$main-color3: #04D4F0;
$main-color4: #efefef;
$main-color5: #5B6670;
$main-color6: #FFEBEB;
$main-color7: #04D4F0;
$main-color8: #B3B9BD;
$main-color9: #E6E8EA;
$main-color10: #F6F7F8;
$main-color11: #EEEFF0;
$main-color12: #3CBC37;
$main-color13: rgba(91, 102, 112, 0.4);
$main-color14: rgba(91, 102, 112, 0.6);
$main-color15: rgba(0, 0, 0, 0.16);
$main-color16: rgba(0, 0, 0, 0.2);
$main-color17: #EA856A;
$main-color18: #E20000;
$main-color19: rgba(91, 102, 112, 0.15);
$main-color20: #007853;
$main-color21: #E6E7E9;
$main-color22: rgba(207, 51, 57, .6);

//font-family
$normal1: 'SukhumvitTadmai-Text';
$bold1: 'SukhumvitTadmai-Bold';
$thin1: 'SukhumvitTadmai-Thin';
$normal2: 'PSL249pro-Text';
$bold2: 'PSL251pro-Bold';

//text-weight
$text-bold: bold;
$text-normal: normal;

//text color
$text-color: #333;

//text-size
$text-14: 14px;
$text-16: 16px;
$text-18: 18px;
$text-20: 20px;
$text-24: 24px;

//border-radius
$border-small: 6px;
$border-circle: 40px;

.form-control,
.panel-body .select2-selection {
  color: $text-color;
  border-color: $main-color13;
}

.form-control.focus,
.form-control:focus {
  border-color: $main-color1;
}

.voyager .app-container .content-container .side-menu .bootstrap-datepicker-widget{
  z-index: 1000;
}

//roles
@import 'roles';

//users
@import 'users';

//slide
//@import 'slide';

//table
@import 'table';

//navbar
@import 'navbar';

//select2
@import 'select2';

//radio button
@import 'radiobutton';

.voyager .btn.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}

span.new-icon {
    background: red;
    color: white;
    border: 1px solid red;
    border-radius: 100%;
    padding: 4px 8px;
    font-size: 10px;
    margin-left: 10px;
}
