@tailwind base;

.tns-nav {
    @apply text-center mt-2 relative z-50 -top-12;
    button {
        @apply lg:w-3 w-2 lg:h-3 h-2 p-0 rounded-full bg-gray-200 text-center my-0 lg:mx-2 mx-1;
    }

    .tns-nav-active {
        @apply bg-gray-50 lg:w-3 w-2 lg:h-3 h-2 rounded-full;
    }
}

.box-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border-active {
    @apply border-2 border-pink-300;
}

@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary1: #FFEBEB;
        --color-primary2: #BCCEF8;
        --color-primary3: #EFEFEF;
        --color-primary4: #FCBEC1;
        --color-primary5: #7A85BE;
        --color-primary6: #F7979C;
        --color-primary7: #FCECEC;
        --color-primary8: #DEE1F1;

    }

    @font-face {
        font-family: 'fcsound-regular';
        src: url('../fonts/FCSound-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'fcsound-light';
        src: url('../fonts/FCSound-Light.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'fcsound-medium';
        src: url('../fonts/FCSound-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'fcsound-thin';
        src: url('../fonts/FCSound-Thin.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'fcsound-italic';
        src: url('../fonts/FCSound-Italic.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'fcsound-bold';
        src: url('../fonts/FCSound-ExtraBold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    html,p {
        @apply font-fcsound-regular;
    }

    .font-bold {
        @apply font-fcsound-bold;
    }

    .font-light, .font-sm {
        @apply font-fcsound-light;
    }

    .font-normal {
        @apply font-fcsound-regular;
    }

    .font-medium, .text-2xl,.text-xl {
        @apply font-fcsound-medium;
    }

    .shopping .active {
        @apply border-2 border-primary6 ring-4 ring-pink-500/50;
    }

    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

